/* :host {
    background-image: url(../../../assets/images/MenuBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */

.container {
    background-image: url(../../../assets/images/MenuBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navigation-buttons {
    display: flex;
    position: absolute;
    left: 50%;
    top: 55%;
}