<div class="container">
    <div class="uploadWallpaper">
        <div class="zone">
      
          <div id="dropZ">
            <i class="fa fa-cloud-upload"></i>
            <div>Click Select File to upload your spooky picture!</div>                    
            <div class="selectFile">       
              <label for="file">Select file</label>                   
              <input type="file" (change)="onFileChange($event)" id="file">
              <!-- <input type="file" name="files[]" id="file"> -->
            </div>
            <p>Choose a name for your picture so people can vote</p>
          </div>
      
          <div class="inputDiv">
              <input type="text" name="pictureName" id="inputD" [(ngModel)]="pictureName">
          </div>
          <button mat-button color="alert" (click)="onSubmit()" class="submit-button">Submit</button>
        </div>
    </div>
</div>
